In [6]:
import pandas as pd
import math

In [7]:
data = {
    'salary': [78.000, 90.000, 75.000, 117.000, 105.000, 96.000, 89.500, 102.300, 80.000]
}

In [8]:
df = pd.DataFrame(data)

### MEAN

In [19]:
sample_mean = df.salary.sum() / (9)
sample_mean

92.53333333333333

### VARIANCE

In [20]:
df['pre_variance'] = (df.salary - sample_mean) ** 2
df.head()

   salary  pre_variance
0    78.0    211.217778
1    90.0      6.417778
2    75.0    307.417778
3   117.0    598.617778
4   105.0    155.417778

In [22]:
sample_variance = df.pre_variance.sum() / (9)
sample_variance

172.5311111111111

### STANDARD DEVIANTION

In [23]:
standard_deviation_sample = math.sqrt(sample_variance)
standard_deviation_sample

13.135109862925058

### STANDARD ERROR

In [24]:
standard_error = standard_deviation_sample / math.sqrt(9)
standard_error

4.3783699543083525

### T-Distribution

In [26]:
result_t_table = 3.355
t_distribution_hight = sample_mean + result_t_table * standard_error 
t_distribution_hight

107.22276453003785

In [27]:
t_distribution_low = sample_mean - result_t_table * standard_error
t_distribution_low

77.84390213662881

In [30]:
print(f'The confidence interval of Data Science is {round(t_distribution_low, 3)} until {round(t_distribution_hight, 3)}')

The confidence interval is 77.844 until 107.223